include ../../blocks/header/header.pug
include ../../blocks/zaglushambo/zaglushambo.pug
include ../../blocks/page-title/page-title.pug
include ../../blocks/popular-screen/popular-screen.pug
include ../../blocks/articles-screen/articles-screen.pug
include ../../blocks/footer/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title blog_page
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
  body
    +header({
      navigationAr: ['home', 'blog', 'contact us']
    })
    +zaglushambo({})
    +page-title({
      header:"Blog Afrianska",
      description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    })    
    +popular-screen({
      header:"POPULAR",
      proposalArr : [
        {
          header:"Feugiat sodales at nullam tellus.", 
          text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.", 
          imgName:"home_blue_sky", 
          authorName: "Samatha Leuthex", 
          date:"May 5,", 
          dateval: "2021-05-05", 
          timetoread:"3 min read", 
          timetoreadval: "00:03",
          modifier:"proposal_theme_big-image"
        },
        {
          header:"Porta proin tellus sed pulvinar odio eu pulvinar.",
          text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ", 
          imgName:"pencil_and_ruller", 
          authorName: "Samatha Leuthex", 
          date:"May 5,", 
          dateval: "2021-05-05", 
          timetoread:"3 min read", 
          timetoreadval: "00:03"
        },
        {
          header:"Non quam tortor, proin eu egestas scelerisque purus.",
          text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", 
          imgName:"pagoda", 
          authorName: "Samatha Leuthex", 
          date:"May 5,", 
          dateval: "2021-05-05", 
          timetoread:"3 min read", 
          timetoreadval: "00:03"
        },
        {
          header:"Amet amet sed pharetra risus sit eget interdum.",
          text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ", 
          imgName:"laptops", 
          authorName: "Samatha Leuthex", 
          date:"May 5,", 
          dateval: "2021-05-05", 
          timetoread:"3 min read", 
          timetoreadval: "00:03"
        }
      ]
    })(class="main-content-frames")
    +articles-screen({})(class="main-content-frames")
    +footer({})