.footer__list {
  font-family: 'Gilroy' ,"Times" , "Serif";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: $footer__item--color;

  @media (max-width: $md - 1px){
    &:first-child{
      margin-bottom: 15px;
    }
  }
}
