.card__next-block {
  display: flex;
  margin-bottom: 53px;
  text-decoration: none;
  cursor: pointer;
  color: $card__learn-text--color;
  font-family: 'Gilroy' ,"Times" , "Serif";
  font-size: 15.5px;
  align-self: flex-start;

  &:hover{
    /*это состояние влияет на следующие классы:

    */
  }
}

