mixin card__next-block(modifier)
  if modifier.lernText == undefined
    - modifier.learnText = 'Learn more';
  a.card__next-block(href='#!')&attributes(attributes)!=modifier.learnText
    +arrow(class="card__learn-arrow")