mixin footer__topic(modifier)
  .footer__topic&attributes(attributes)
    +article(Object.assign({},{header:modifier.proposal, text:modifier.proposalDesc,    }))(class="footer__article article_theme_common-style article_theme_light")
    +link(Object.assign({},{link:{text:modifier.buttonText},  }))(class="link_theme_button")