mixin map-container-screen(modifier)
  .map-container-screen&attributes(attributes)
    <iframe class="map-container-screen__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16631.7315585192!2d49.680477446429606!3d58.59608536975268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43fcf43acf307843%3A0x1648bca917d442bd!2z0JDQstGC0L7QvNC-0LnQutCwINCb0LXQvdC40L3QsCAxMDY!5e0!3m2!1sru!2sru!4v1618574726663!5m2!1sru!2sru" width="940" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>