@import '__item-content/header__item-content';
@import '_theme_small/header_theme_small';
@import '_expanded/header_expanded';
@import '../logo/logo';
@import '__content/header__content';
@import '__item/header__item';
@import '__navigation/header__navigation';
@import '__sandwich-ico-container/header__sandwich-ico-container';
@import '__sandwich-ico/header__sandwich-ico';
@import '__logo/header__logo';
.header {
  display: flex;
  align-items: flex-end;
  @include py(48px);
  padding-left: 83px;
  padding-right: 86px;
  background-color: $header--BGColor;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  z-index: 10;
  @include transition();

  @media (max-width: $md - 1px){
    padding-left: 20px;
    padding-right: 20px;
  }

  &.header_theme_small{
    @include py(15px);
  }
}
