include __content/header__content.pug
include __item/header__item.pug
include __navigation/header__navigation.pug
include __sandwich-ico-container/header__sandwich-ico-container.pug
include __sandwich-ico/header__sandwich-ico.pug
include ../logo/logo.pug
mixin header(modifier)
  .header&attributes(attributes)
    +logo()
    //-__sandwich-ico-container - это бутерброд
       __sandwich-ico-container - label для __sandwich-input
       когда назимают на ico-conainer нажимается и __sandwich-input
       и добавляются новые стили прописанные в __navigation
    +header__content(modifier)
    +header__sandwich-ico-container(modifier)