.article__text {
  font-size: 1.74rem;
  font-family: 'gilroy' ,times , serif;
  display: inline-block;
  width: 81%;
  line-height: 23px;
}
.article_font_middle {
  .article__text{
    font-weight: 400;
    font-size: 1.8rem;
    width: 100%;
    line-height: 26px;
  }
}
.article_text_faded {
  .article__text{
    opacity: 0.6;
  }
}

.article_const_font.article_font_middle{
  .article__text{
    font-size: 18px;
  }
}

.article_theme_screen-header {
  .article__text{
    line-height: 26px;
    opacity: 0.6;
    display: inline-block;
    padding-left: 84px;
    padding-right: 80px;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: $lg - 1px){
      @include px(20px);
      position: static;
      text-align: center;
    }
    @media (max-width: $md - 1px){
      width: auto;
      @include px(10px);
      display: inline-block;
    }
  }
}

.article_theme_project-style {
  .article__text{
    letter-spacing: 0.05em;
    text-align: right;
    width: 100%;
    font-size: 16px;
  }
}
.article_text-align_left{
  .article__text{
    text-align: left;
  }
}

.article_theme_common-style{
  .article__text{
    width: 100%;
    line-height: 26px;
  }
}
