/* Компоненты */
@import '../vendor/UnCss';/* т.к. он сбрасывает все стили */
@import '../vendor/slickCarousel/slick/slick';
@import '../vendor/swiperJS/swiper-bundle';

/* Шрифты */

/* идут перед миксинами, т.к. шрифты могут быть использованны в миксинах */
@import '../fonts/allFonts';

/* самодельные стили */
@import 'mixins';
@import 'colors';
@import 'variables';
@import 'global';


/* Файлы блоков */

//Место для главной страницы

/* Стили блоков */
@import '../blocks/header/header';
@import '../blocks/article/article';
@import '../blocks/logo/logo';
