/* no sense variables */
$dark-faded: rgba(53, 110, 173, 0.2);
$transparent: transparent;

$blue: #356EAD;
$dark-blue: #316099;

/* variables with sense */
/* *********************************************************************** */

$header__sandwich-ico--BGColor: $blue;
$header__sandwich-ico-after-before--BGColor: $header__sandwich-ico--BGColor;
$header__item: $dark-blue;

$link__text--boxShadow: $dark-faded;
