/* no sense variables */
$transparent: transparent;

$blue: #356EAD;
$dark-blue: #316099;

/* variables with sense */
/* *********************************************************************** */

$header__sandwich-ico--BGColor: $blue;
$header__sandwich-ico-after-before--BGColor: $header__sandwich-ico--BGColor;
$header__item: $dark-blue;
