.proposal__author-and-dates {
  font-family: 'Gilroy' ,"Times" , "Serif";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.proposal_theme_article {
  .proposal__author-and-dates{
    margin-right: 101px;
    @media (max-width: $sm - 1px){
      margin-right: 0px;
    }
  }
}
