mixin footer__contact(modifier)
  if modifier.text == undefined
    - modifier.text =  "empty text field";
  if modifier.href == undefined
    li.footer__contact&attributes(attributes)!=modifier.text
  else 
    li.footer__contact&attributes(attributes)
      a(href=modifier.href)!=modifier.text