.article__header {
  font-size: 7rem;
  margin-bottom: 50px;
}

.article_theme_topic {
  .article__header {
    font-size: 4rem;
    font-weight: 500;
    line-height: 45px;
  }
}

.article_font_middle {
  .article__header {
    line-height: 29px;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 16px;
  }
}
.article_const_font{
  .article__text{
    font-size: 70px;
  }
}
.article_const_font.article_font_middle{
  .article__header{
    font-size: 22px;
  }
}

.article_theme_screen-header {
  .article__header {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.5rem;
    display: inline-block;
    @media (max-width: $lg - 1px){
      text-align: center;
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.article_theme_project-style {
  .article__header {
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }
}
