.article__header {
  font-size: 7rem;
  margin-bottom: 50px;
}

.article_theme_topic {
  .article__header {
    font-size: 4rem;
    font-weight: 500;
    line-height: 45px;
  }
}

.article_font_middle {
  .article__header {
    line-height: 29px;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 16px;
  }
}
.article_const_font{
  .article__text{
    font-size: 70px;
  }
}
.article_const_font.article_font_middle{
  .article__header{
    font-size: 22px;
  }
}
