mixin search__magnifying-glass-container(modifier)
  button.search__magnifying-glass-container(type="submit")&attributes(attributes)
    +magnifying-glass(modifier)(class="search__magnifying-glass")
    