@import '_py_big/link_py_big';
@import '_theme_button/link_theme_button';
.link {
  @include px(5px);
  @include py(20px);
  @include unselectable();
  font-family: 'Gilroy' ,"Times" , "Serif";
  font-size: 1.65rem;
  text-decoration: none;
  box-shadow: 5px 10px 20px $link__text--boxShadow;
  background: $link--background-color;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  color: $link--color;

  &:hover{
    background-color: darken($link--background-color,15%);
    color: darken($link--color,15%);
  }
  &:active{
    background-color: darken($link--background-color,30%);
    color: darken($link--color,30%);
  }
  &.link_py_big{
    @include py(28px);
  }
}
