mixin link(modifier)
  if modifier.link == undefined
      - modifier.link = {text:"someValuelinkText"};
  if ( !(attributes.class.indexOf('link_theme_button')==-1) ) 
    button.link(type='submit')&attributes(attributes)!=modifier.link.text
  else
    a.link(href="#!")&attributes(attributes)!=modifier.link.text
