.contact-us__img {
  margin-left: 11px;
  margin-bottom: 68px;
  max-width: 100%;
  @media (max-width: $lg - 1px){
    @include mx(auto);
    display: block;
  }
  @media (max-width: $sm - 1px){
    margin-bottom: 35px;
  }
}
