.proposal__text-content {
}

.proposal_theme_big-image {
  .proposal__text-content {
    margin-right: 25px;
    flex-basis: 41%;
    @media (max-width: $lg - 1px){
      flex-basis: 100%;
    }
  }
}

.proposal_theme_article {
  .proposal__text-content {
    margin-top: -3px;
    max-width: 540px;
  }
}
