.proposal__text-content {
}

.proposal_theme_big-image {
  .proposal__text-content {
    margin-right: 25px;
    flex-basis: 35%;
    @media (max-width: $lg - 1px){
      flex-basis: 100%;
    }
  }
}
