@import '__see-all-link/popular-screen__see-all-link';
@import '__title/popular-screen__title';
@import '__search/popular-screen__search';
@import '__proposal-container/popular-screen__proposal-container';
@import '../search/search';
@import '../proposals-container/proposals-container';
.popular-screen {
  padding-top: 55px;
  position: relative;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;

  @media (max-width: $lg - 1px) {
    @include px(15px);
  }
  @media (max-width: $md - 1px){
    padding-top: 25px;
  }
  &:after{
    content:'';
    height: 1px;
    width: 100%;
    background-color: $popular-screen-after--BG;
    position: absolute;
    bottom: 0;
    @include centeredX();
    @media (max-width: $lg - 1px) {
      width: 80%;
    }
  }
}
