include __bottom-block-line/popular-screen__bottom-block-line.pug
include __see-all-link/popular-screen__see-all-link.pug
include __see-all-link/popular-screen__see-all-link.pug
include __title/popular-screen__title.pug
include ../search/search.pug
include ../proposals-container/proposals-container.pug
mixin popular-screen(modifier)
  .popular-screen&attributes(attributes)
    +search(modifier)(class="popular-screen__search")
    +popular-screen__title(modifier)
    +proposals-container(modifier)(class="popular-screen__proposal-container")
    +popular-screen__see-all-link(modifier)
    +popular-screen__bottom-block-line(modifier)