.our-clients-screen__client-logo-container {
  border-right: 1px solid $our-clients-screen__client-logo-container--borderColor;
  border-bottom: 1px solid $our-clients-screen__client-logo-container--borderColor;
  cursor: pointer;
  text-align: center;
  &:nth-child(4n){
    border-right: 0px;
  }
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7){
    border-bottom: 0px;
  }
  @media (max-width: $xl - 1px){
    border-bottom: 1px solid $our-clients-screen__client-logo-container--borderColor;
    &:nth-child(2n){
      border-right: 0;
    }
    &:nth-child(5),
    &:nth-child(6){
      border-bottom: 1px solid $our-clients-screen__client-logo-container--borderColor;
    }
  }
}
