mixin our-clients-screen__client-logo-container(modifier)
  a.our-clients-screen__client-logo-container(href="#!" aria-label="our client's logotype ")&attributes(attributes)
    +our-clients-screen__client-logo(modifier)