.cards-screen__container {
  width: 80%;
  padding-left: 215px;
  row-gap: 100px;
  column-gap: 17px;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  justify-items: center;
  padding-top: 40px;
  align-content: space-between;
  justify-content: space-between;

  @media (max-width: $xl - 1px){
    width: 90%;
    row-gap: 70px;
    padding-left: 0;
  }

  @media (max-width: $lg - 1px){
    width: 95%;
    row-gap: 50px;
    column-gap: 0px;
    padding-top: 0px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &.swiper-wrapper{
    @media (min-width: $lg){
      display: grid;
    }
    @media (max-width: $lg - 1px){
      height: auto;
    }
  }
}

