$cards-container--height: 1218px;
.cards-screen__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  height: $cards-container--height;
  padding-top: 40px;
  align-content: space-between;
  flex-basis: 78%;
  justify-content: space-between;

  @media (max-width: $xl - 1px){
    flex-basis: 90%;
  }

  @media (max-width: $lg - 1px){
    padding-top: 0px;
    flex-basis: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  @media (max-width: $md - 1px){
  }

  &.swiper-wrapper{
    @media (min-width: $lg){
      height: $cards-container--height;
    }
  }
}

