mixin cards-screen__container(modifier)
  .cards-screen__container(class = "" )&attributes(attributes)
    each card in modifier.cardsArr
      if card.modificator == undefined
          - card.modificator = '';
      +card(card)(class= (card.modificator + 'cards-screen__card '))

  //-
    "swiper-wrapper" swiper-slide