include ../../blocks/header/header.pug
include ../../blocks/page-title/page-title.pug
include ../../blocks/contact-us-screen/contact-us-screen.pug
include ../../blocks/map-container-screen/map-container-screen.pug
include ../../blocks/footer/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title contact us
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
  body
    +header({
      navigationAr: [
        {
          content: 'home',
          link: '/'
        }, 
        {
          content: 'blog',
          link: '/blogpage.html'
        }, 
        {
          content: 'contact us',
          link: '/contactus.html'
        }
      ]
    })
    main
      +page-title({
        header:"Contact Us",
        description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      })
      +contact-us-screen(
      {
        "sending-form" : {
          'header' : "SEND US MESSAGE",
          "input-name" :{
            'input-id' : "customer-name",
            'input-type': 'text',
            'placeholder' : 'Your Name',
            'label' : 'Full Name'
          },
          "input-email" : {
            'input-id' : 'customer-email',
            'input-type': 'email',
            'placeholder' : 'Your Email',
            'label' : 'Email'
          },
          "text-area" : {
            'text-area-id' : 'customer-proposal',
            'text-area-name' : 'nameTA',
            'placeholder' : 'Your Message',
            'label' : 'Message'
          },
          "link" : {
            'text' : "SUBMIT"
          }
        },
        "contact-us" : {
          "address": {
            "header": "ADDRESS",
            "contactsArr": [
              {
                "text" : "Id convallis placerat sit sed duis id amet volutpat quam a, pharetra."
              }
            ]
          },
          "phones": {
            "header": "PHONE",
            "contactsArr": [
              {
                "text" : "+62-812-7313-4321"
              },
              {
                "text" : "+62-817-000-1234"
              }
            ]
          },
          "services": {
            "header": "ONLINE SERVICE",
            "contactsArr": [
              {
                "text" : "www.afrianska.com"
              },
              {
                "text" : "hello.afrian@gmail.com",
                "modifier" : "contact-us__list-item_service_email"
              }
            ]
          },
        }
      })(class="main-content-frames contact-us-screen_add_mb")
      +map-container-screen({})(class="main-content-frames map-container-screen_add_mb")
    +footer({})