include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
include ../../blocks/page-title/page-title.pug
include ../../blocks/contact-us-screen/contact-us-screen.pug
include ../../blocks/map-container-screen/map-container-screen.pug
include ../../blocks/footer/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title contact us
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    +header({})
    main
      +page-title({
        header:"Contact Us",
        description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      })
      +contact-us-screen(
      {
        "sending-form" : {
          'header' : "SEND US MESSAGE",
          "input-name" :{
            'input-id' : "customer-name",
            'input-type': 'text',
            'placeholder' : 'Your Name',
            'label' : 'Full Name'
          },
          "input-email" : {
            'input-id' : 'customer-email',
            'input-type': 'email',
            'placeholder' : 'Your Email',
            'label' : 'Email'
          },
          "text-area" : {
            'text-area-id' : 'customer-proposal',
            'text-area-name' : 'nameTA',
            'placeholder' : 'Your Message',
            'label' : 'Message'
          },
          "link" : {
            'text' : "SUBMIT"
          }
        },
        "contact-us" : {
          "address": {
            "header": "ADDRESS",
            "contactsArr": [
              {
                "text" : "Id convallis placerat sit sed duis id amet volutpat quam a, pharetra."
              }
            ]
          },
          "phones": {
            "header": "PHONE",
            "contactsArr": [
              {
                "text" : "+62-812-7313-4321"
              },
              {
                "text" : "+62-817-000-1234"
              }
            ]
          },
          "services": {
            "header": "ONLINE SERVICE",
            "contactsArr": [
              {
                "text" : "www.afrianska.com"
              },
              {
                "text" : "hello.afrian@gmail.com",
                "modifier" : "contact-us__list-item_service_email"
              }
            ]
          },
        }
      })(class="main-content-frames contact-us-screen_add_mb")
      +map-container-screen({})(class="main-content-frames map-container-screen_add_mb")
    +footer({})