/* общие стили */
@import "../../styles/allCommonStyles";

/* Стили блоков */
@import '../../blocks/header/header';
@import '../../blocks/main-screen/main-screen';
@import '../../blocks/cards-screen/cards-screen';
@import '../../blocks/portfolio-screen/portfolio-screen';
@import '../../blocks/our-clients-screen/our-clients-screen';
