include ../../blocks/header/header.pug
include ../../blocks/main-screen/main-screen.pug
include ../../blocks/cards-screen/cards-screen.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Afrianska
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    link(rel="icon" href="favicon.ico" type="image/icon")
  body
    +header({
      navigationAr: ['home', 'blog', 'contact us']
    })
    +main-screen({
      article:{
        header:"New Automation <br/>Tool for Your Home",
        text:"Lorem iposum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin adio tellus elit."
      },
      link:{
        text:"See Our Projects"
      }
    })
    +cards-screen({
      header: 'What we do to help our client grow in digital era,',
      cardsArr:[
        {
          imgName:'multifunction',
          header: 'Bring Technology To Your Comfotable Home',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
        },
        {
          imgName:'newspaper',
          header: 'Make Your buisiness To Be Better Famous In Internet',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
          modificator:'card_position-img_left'
        },
        {
          imgName:'lady',
          header: 'Build Your Digital Product That Suitable For Your Need',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
        }
      ]
    })