include __img-wrapper/proposal__img-wrapper.pug
include __text-content/proposal__text-content.pug
include ../../img/svg/bookmark.pug
include ../../img/svg/share.pug
include __share-favorite/proposal__share-favorite.pug
include __duration/proposal__duration.pug
include __date/proposal__date.pug
include __dates/proposal__dates.pug
include __author-name/proposal__author-name.pug
include __author-and-dates/proposal__author-and-dates.pug
include __bottom/proposal__bottom.pug
include __text/proposal__text.pug
include __header/proposal__header.pug
include __img/proposal__img.pug
mixin proposal(modifier)
  if modifier == undefined
      - modifier = {};
  if modifier.modifier == undefined
      - modifier.modifier = "";
  .proposal(class=modifier.modifier)&attributes(attributes)
    +proposal__img-wrapper(modifier)
    +proposal__text-content(modifier)
