@import '_theme_article/proposal_theme_article';
@import '_theme_horizontal/proposal_theme_horizontal';
@import '__img-wrapper/proposal__img-wrapper';
@import '__text-content/proposal__text-content';
@import '__bookmark/proposal__bookmark';
@import '__share/proposal__share';
@import '__share-favorite/proposal__share-favorite';
@import '__duration/proposal__duration';
@import '__date/proposal__date';
@import '__dates/proposal__dates';
@import '__author-name/proposal__author-name';
@import '__author-and-dates/proposal__author-and-dates';
@import '__bottom/proposal__bottom';
@import '__text/proposal__text';
@import '__header/proposal__header';
@import '__img/proposal__img';
@import '_theme_big-image/proposal_theme_big-image';
.proposal {
  max-width: 300px;
  &.proposal_theme_big-image{
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    @media (max-width: $lg - 1px){
      flex-direction: column;
    }
  }
  &.proposal_theme_article{
    display: flex;
    max-width: none;
    @media (max-width: $sm - 1px){
      display: block;
    }
  }
}

/*
timetoread
timetoreadval
dateval
date
authorName
*/
