.our-clients-screen__more-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy' ,"Times" , "Serif";
  font-size: 20px;
  line-height: 46px;
  color: $our-clients-screen__more-client-link--color;
  position: relative;
  cursor: pointer;
  text-decoration: none;

  &:hover{
    background-color: $our-clients-screen__more-client-link-hover--BGColor;
  }
  &:active{
    background-color: darken($our-clients-screen__more-client-link-hover--BGColor, 10%);
  }
  @media (max-width: 600px){
    font-size: 12px;
  }
}
