.our-clients-screen__content {
  padding-bottom: 123px;
  @media (max-width: $lg - 1px){
    width: 90%;
    padding-bottom: 50px;
  }
  @media (max-width: $md - 1px){
    padding-bottom: 25px;
    width: 100%;
  }
}
