.our-clients-screen__content {
  @include mx(auto);
  width: 69%;
  margin-bottom: 123px;
  @media (max-width: $lg - 1px){
    width: 90%;
    margin-bottom: 50px;
  }
  @media (max-width: $md - 1px){
    margin-bottom: 25px;
    width: 100%;
  }
}
