.main-screen__topic-wrapper {
  width: 39%;
  padding-left: 15.6%;
  padding-top: 7.3%;

  @media (max-width: $lg - 1px){
    padding-top: 10%;
  }

  @media (max-width: $md - 1px){
    @include px(0);
    padding-top: 33.3%;
    width: 80%;
    text-align: center;
  }
}
