@import '_theme_main-screen/article_theme_main-screen';
@import '_theme_common-style/article_theme_common-style';
@import '_theme_light/article_theme_light';
@import '_text-align_left/article_text-align_left';
@import '_theme_project-style/article_theme_project-style';
@import '_theme_screen-header/article_theme_screen-header';
@import '_const_font/article_const_font';
@import '_text_faded/article_text_faded';
@import '_font_blue-light/article_font_blue-light';
@import '_font_middle/article_font_middle';
@import '_font_gilroy/article_font_gilroy';
@import '__text/article__text';
@import '__header/article__header';
.article {
  font-family: 'Galien' ,"Georgia" , "Serif";

  &.article_font_gilroy {
    font-family: 'Gilroy' ,"Times" , "Serif";
  }

  &.article_font_blue-light{
    color: $article_font-blue-light--color;
  }

  &.article_theme_screen-header{
    font-family: 'Gilroy' ,"Times" , "Serif";
    color: $article_theme_screen-header--color;
    display: grid;
    grid-template-columns: 1fr 3fr;
    @media (max-width: $lg - 1px){
      display: flex;
      flex-direction: column;
    }
  }

  &.article_theme_project-style{
    font-family: 'Gilroy' ,"Times" , "Serif";
    letter-spacing: 0.05em;
  }
  &.article_theme_light{
    color: $article_theme_light--color;
  }
  &.article_theme_common-style{

  }
}
