@import '_theme_light/article_theme_light';
@import '_text-align_left/article_text-align_left';
@import '_theme_project-style/article_theme_project-style';
@import '_theme_screen-header/article_theme_screen-header';
@import '_const_font/article_const_font';
@import '_text_faded/article_text_faded';
@import '_font_blue-light/article_font_blue-light';
@import '_font_middle/article_font_middle';
@import '_font_gilroy/article_font_gilroy';
@import '_theme_topic/article_theme_topic';
@import '__text/article__text';
@import '__header/article__header';
.article {
  font-family: 'galien' ,times , serif;

  &.article_theme_topic{
    font-family: 'gilroy' ,times , serif;
    color: $article_theme_topic--color;
  }

  &.article_font_gilroy {
    font-family: 'gilroy' ,times , serif;
  }

  &.article_font_blue-light{
    color: $article_font-blue-light--color;
  }

  &.article_theme_screen-header{
    display: block;
    font-family: 'gilroy' ,times , serif;
    color: $article_theme_screen-header--color;
  }

  &.article_theme_project-style{
    font-family: 'gilroy' ,times , serif;
    letter-spacing: 0.05em;
  }
  &.article_theme_light{
    color: $article_theme_light--color;
  }
}
