.header__navigation {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  @media (max-width: $md - 1px){
    position: absolute;
    transform: translateY(-100%);
    top: 43px;
    left: 0;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
  }
}

.header_expanded{
  .header__navigation{
    transform: translateX(0);
    opacity: 1;

    @media (max-width: $md - 1px){
      transform: translateY(0);
      background-color: $header__navigation_expanded--BGColor;
    }
  }
}
