mixin portfolio-screen__content(modifier)
  .portfolio-screen__content&attributes(attributes)
    +article(Object.assign({},{header:modifier.screen_header,text:modifier.screen_description}))(class="portfolio-screen__article article_theme_screen-header")
    +portfolio-screen__projects-wrapper(modifier)