mixin portfolio-screen__project-text-container(modifier)
  .portfolio-screen__project-text-container&attributes(attributes)
    +portfolio-screen__project-name(modifier)
    +portfolio-screen__project-description(modifier)