mixin sending-form__input(modifier)
  if modifier["placeholder"] == undefined
      - modifier["placeholder"] = 'empty__placeholder';
  input.sending-form__input(placeholder=modifier['placeholder'])&attributes(attributes)
