.popular-screen__see-all-link {
  font-family: 'Gilroy' ,"Times" , "Serif";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $popular-screen__see-all-link--color;
  text-decoration: none;
  opacity: 0.8;
  margin-bottom: 23px;
  display: inline-block;
}
