mixin popular-screen__see-all-link(modifier)
  if modifier.seeAllLink == undefined
      - modifier.seeAllLink = 'See All Popular Article';
  a.popular-screen__see-all-link(href="#!")&attributes(attributes)!=modifier.seeAllLink
