include ../proposal/proposal.pug
mixin proposals-container(modifier)
  if modifier == undefined
      - modifier = {};
  .proposals-container&attributes(attributes)
    if modifier.proposalArr == undefined
        - modifier.proposalArr = [{header:"Non quam tortor, proin eu egestas scelerisque purus.", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", imgName:"pagoda", authorName: "Samatha Leuthex", date:"May 5,", dateval: "2021-05-05", timetoread:"3 min read", },{header:"Feugiat sodales at nullam tellus.", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.", imgName:"home_blue_sky", authorName: "Samatha Leuthex", date:"May 5,", dateval: "2021-05-05", timetoread:"3 min read",modifier:"proposal_theme_big-image"}];
    each proposal in modifier.proposalArr
      +proposal(proposal)(class="proposals-container__proposal")