@import '__proposal/proposals-container__proposal';
@import '../proposal/proposal';
.proposals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1366px - 1px){
    justify-content: space-around;
  }
}
