@import '_bg_blue/footer_bg_blue';
@import '__content/footer__content';
@import '__sign/footer__sign';
@import '__item-container/footer__item-container';
@import '__lists/footer__lists';
@mixin content-frames(){
  box-sizing: border-box;
  max-width: 910px;
  padding-left: 35px;
  @include mx(auto);
  @media (max-width: $lg - 1px){
    @include px(15px);
  }
}
@import '__logo/footer__logo';
@import '__lText/footer__lText';
@import '__contacts-container/footer__contacts-container';
@import '__cText/footer__cText';
@import '__dividing-line/footer__dividing-line';
@import '__item-container_theme_title/footer__item-container_theme_title';
@import '__item/footer__item';
@import '__list/footer__list';
@import '__contact/footer__contact';
@import '__label/footer__label';
@import '__contacts/footer__contacts';
@import '__bottom/footer__bottom';
@import '__text/footer__text';
@import '__header/footer__header';
@import '__text-container/footer__text-container';
@import '__link/footer__link';
@import '__article/footer__article';
@import '__topic/footer__topic';
@import '../article/article';
@import '../link/link';

.footer.footer_bg_blue {
  background-color: $footer--BGColor;
}
