include __project-description/portfolio-screen__project-description.pug
include __project-name/portfolio-screen__project-name.pug
include __project-text-container/portfolio-screen__project-text-container.pug
include __content/portfolio-screen__content.pug
include __project-row/portfolio-screen__project-row.pug
include ../article/article.pug
include __projects-wrapper/portfolio-screen__projects-wrapper.pug
include __project/portfolio-screen__project.pug
mixin portfolio-screen(modifier)
  .portfolio-screen&attributes(attributes)
    +portfolio-screen__content(modifier)