@import "__header/cards-screen__header";
@import "__card-wrapper/cards-screen__card-wrapper";
@import "__pagination/cards-screen__pagination";
@import "__card/cards-screen__card";
@import "__container/cards-screen__container";
@import "__article/cards-screen__article";
@import "../card/card";
// @import '../../../node_modules/swiper/swiper';
@import "swiper/swiper-bundle.css";
.cards-screen {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 6%;
  flex-wrap: wrap;
  padding-bottom: 196px;

  @media (max-width: $xl - 1px) {
    padding-bottom: 100px;
  }

  @media (max-width: $lg - 1px) {
    padding-bottom: 25px;
    @include px(15px);
  }
}
