include __header/cards-screen__header.pug
include __card-wrapper/cards-screen__card-wrapper.pug
include __pagination/cards-screen__pagination.pug
include __container/cards-screen__container.pug
include ../card/card.pug
mixin cards-screen(modifier)
  .cards-screen(class= "swiper-container")&attributes(attributes)
    +cards-screen__header(modifier)
    +cards-screen__container(modifier)
    +cards-screen__pagination(modifier)