.our-clients-screen__client-logos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  justify-content: center;
  @media (max-width: $xl - 1px){
    grid-template-columns: repeat(2, 235px);
  }
  @media (max-width: 600px){
    grid-template-columns: repeat(2, 115px);
  }
}
