include __input/search__input.pug
include __magnifying-glass-container/search__magnifying-glass-container.pug
include ../../img/svg/magnifying-glass.pug
mixin search(modifier)
  form.search&attributes(attributes)
    +search__input(modifier)
    +search__magnifying-glass-container(modifier)