include __input/search__input.pug
include ../../img/svg/magnifying_glass.pug
mixin search(modifier)
  .search&attributes(attributes)
    +search__input(modifier)
    +magnifying_glass(modifier)(class="search__magnifying_glass")