include __more-client-link/our-clients-screen__more-client-link.pug
include __client-logo-conatiner/our-clients-screen__client-logo-container.pug
include __content/our-clients-screen__content.pug
include __client-logo/our-clients-screen__client-logo.pug
include __client-logos-container/our-clients-screen__client-logos-container.pug
include ../article/article.pug
include ../footer/footer.pug
mixin our-clients-screen(modifier)
  .our-clients-screen&attributes(attributes)
    +our-clients-screen__content(modifier)(class="main-content-frames")