.footer__bottom {
  @include content-frames();
  padding-top: 96px;
  padding-bottom: 85px;
  display: grid;
  grid-template-columns: 32% 1fr;
  grid-row-gap: 69px;

  @media (max-width: $lg - 1px){
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    display: block; // Вынужденная мера, почему то не удаётся выстроить в колонку, приходится отменять сетку
    padding-bottom: 25px;
    padding-top: 45px;
  }
}
