.card__img {
  align-self: center;
  margin-bottom: 50px;
  padding-top: 47px;
  @media (max-width: $lg - 1px){
    @include mx(auto);
  }
}
.card_position-img_left{
  .card__img{
    position: relative;
    right: 30px;
  }
}
